.hidden {
    visibility: hidden;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-height: 100%;
}

#root {
    height: 90vh;
}

#App__Container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.Nav {
    background: rgba(0, 34, 111, 1);
    display: flex;
    z-index: 99999999;
}

.Nav a {
    color: rgba(172, 197, 255, 1);
    padding: 10px 15px;
    border-right: 1px solid white;
}

.Nav a:hover {
    color: rgba(216, 144, 0, 1);
    text-decoration: none;
    border-right: 1px solid white;
    background: rgba(26, 95, 255, .6);
}

.Nav__Fixed {
    position: fixed;
    width: 100%;
    animation: popDown ease-out .5s;
}

.InfoSection {
    display: flex;
    padding: 50px;
}

.contact-page, .TechSummaryPage {
    display: flex;
    flex-direction: column;
}

.next-button {
    display: flex;
    justify-content: flex-end;
}

.next-button a {
    flex-basis: 15%;
    margin-right: 100px;
}

.HorizontalSeparator.left-to-right.lighter{
    background-color: rgba(172, 197, 255,.4);
    clip-path: polygon(0px 67px, 100% 7px, 100% 106%, 0px 122%);
    height: 138px;
}

.HorizontalSeparator.left-to-right.darker{
    background-color: rgba(126, 165, 255,.4);
    clip-path: polygon(0px 67px, 100% 7px, 100% 106%, 0px 122%);
    height: 138px;
}

.HorizontalSeparator.right-to-left.lighter{
    background-color: rgba(172, 197, 255,.4);
    clip-path: polygon(0 -4px,100% 0px,100% 100%,0px 63.31%);
    height: 138px;
}

.HorizontalSeparator.right-to-left.darker{
    background-color: rgba(126, 165, 255,.4);
    clip-path: polygon(0 -4px,100% 0px,100% 100%,0px 63.31%);
    height: 138px;
}

@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}