.hidden {
  visibility: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: lightgray;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 2px solid gray;
}

code::before {
  content: '$';
  color: rgba(0, 0, 0, 0.3);
  padding-right: 3px;
}

#root {
  height: 90vh;
}

#App__Container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.InfoSection {
  display: flex;
  padding: 50px;
}

.contact-page,
.TechSummaryPage {
  display: flex;
  flex-direction: column;
}

.next-button {
  display: flex;
  justify-content: flex-end;
}

.next-button a {
  flex-basis: 15%;
  margin-right: 100px;
}

.HorizontalSeparator.left-to-right.lighter {
  background-color: rgba(172, 197, 255, 0.4);
  clip-path: polygon(0px 67px, 100% 7px, 100% 106%, 0px 122%);
  height: 138px;
}

.HorizontalSeparator.left-to-right.darker {
  background-color: rgba(126, 165, 255, 0.4);
  clip-path: polygon(0px 67px, 100% 7px, 100% 106%, 0px 122%);
  height: 138px;
}

.HorizontalSeparator.right-to-left.lighter {
  background-color: rgba(172, 197, 255, 0.4);
  clip-path: polygon(0 -4px, 100% 0px, 100% 100%, 0px 63.31%);
  height: 138px;
}

.HorizontalSeparator.right-to-left.darker {
  background-color: rgba(126, 165, 255, 0.4);
  clip-path: polygon(0 -4px, 100% 0px, 100% 100%, 0px 63.31%);
  height: 138px;
}

@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}
