.EggBert {
  color: white;
  width: 30px;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
}

.EggBert:hover {
  color: rgba(255, 211, 0, 0.9);
  cursor: pointer;
}

.Egg img {
  border-radius: 10px;
  width: 70%;
  display: inline-block;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}

.Egg--1 {
  position: fixed;
  left: -500px;
  top: 10%;
  background-size: cover;
  transition: all 3s ease-in-out;
}

.Egg--1.Egg__Show {
  left: 0px;
}

.Egg--2 {
  width: 500px;
  height: 400px;
  position: fixed;
  left: -500px;
  top: 40%;
  background-size: cover;
  transition: all 3s ease-in-out;
}

.Egg--2.Egg__Show {
  left: 0px;
}

.Egg--3 {
  width: 500px;
  height: 400px;
  position: fixed;
  right: -500px;
  top: 40%;
  background-size: cover;
  transition: all 3s ease-in-out;
}

.Egg--3.Egg__Show {
  right: 0px;
}

.Egg--4 {
  width: 500px;
  height: 400px;
  position: fixed;
  right: -500px;
  top: 10%;
  background-size: cover;
  transition: all 3s ease-in-out;
}

.Egg--4.Egg__Show {
  right: 0px;
}

.Egg__Hide {
  display: inline-block;
}

.Egg__Show {
  display: inline-block;
}
