@media screen and (max-width: 900px) {
  .App__Header__Title {
    font-size: 1.7em;
    padding-left: 0;
  }

  .ContactForm__Wrapper {
    width: 90%;
  }

  .EggBert {
    position: initial;
  }

  .Egg img {
    width: 60%;
  }

  .CheckMe:focus {
    background: rgba(255, 170, 0, 0.5);
  }

  .InfoSection.TechSummaryPage__InfoSection {
    flex-direction: column;
    padding: 25px;
  }

  .InfoSection.Bio {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .Bio__Image {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(172, 197, 255, 0.5);
  }

  .Bio__AndQuote {
    padding-top: 20px;
  }

  .TechSummary__Projects__Wrapper {
    flex-direction: column;
  }

  .Project {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .Project__Image {
    margin-bottom: 5px;
    padding-right: 0px;
    margin-right: 0;
    width: 100%;
  }

  .Project__Details {
    margin-left: 0;
    width: 100%;
  }

  .Project__Link {
    color: rgba(172, 197, 255, 1);
    background-color: rgba(26, 95, 255, 1);
    border: 1px solid rgb(0, 34, 111);
  }

  .Contact__Form__Wrapper {
    width: 100%;
  }
  .Contact {
    padding: 10px;
  }

  .Bio__Image {
    padding-right: 0px;
  }
}

@media screen and (max-height: 600px) and (min-width: 568px) {
  .Project__Image__Wrapper__Expanded {
    height: 70%;
  }

  .Project__Image__Expanded {
    width: 60%;
  }
}
