.Project {
  padding: 5px;
  position: relative;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.Project--hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.Project--visible {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.Project--SlideIn {
  visibility: visible;
  transform: translateX(150px);
  animation: slideLeft 0.8s ease forwards;
}

.Project--SlideIn:nth-child(odd) {
  animation-duration: 0.6s;
}

.Project__Role {
  font-style: italic;
  transition: all 1s ease-in-out;
}

.Project__Details {
  transition: all 1s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 250px;
  flex-basis: 60%;
  margin-left: 20px;
  background: rgba(172, 197, 255, 0.4);
  padding: 20px;
  box-sizing: initial;
}

.Project__Image {
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  margin-right: 10px;
  object-fit: contain;
  padding-right: 20px;
  max-height: 275px;
  cursor: pointer;
}

.ExpandedProjectImageBackground {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.ExpandedProjectImageBackground.--expanded {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scaleY(1);
}

.Project__Image__Wrapper__Expanded {
  width: 75%;
}

.Project__Image__Expanded {
  padding: 0;
  margin: 0;
  width: 75%;
  flex-basis: 100%;
}

.Project__Notables {
  list-style: none;
}

.Project__NotPublic {
  font-weight: bold;
}

.Project__Link__Wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.Project__Link,
.Project__Link a {
  color: rgb(0, 34, 111);
}

.Project__Link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid rgba(26, 95, 255, 1);
  margin-top: auto;
}

.Project__Link:hover {
  text-decoration: none;
  color: rgba(172, 197, 255, 1);
  background-color: rgba(26, 95, 255, 1);
  border: 1px solid rgb(0, 34, 111);
  transition: background-color ease-in-out 0.2s;
}
