.StatsBar__Wrapper {
  background: rgba(26, 95, 255, 1);
  margin: 5px;
  padding: 5px;
  display: flex;
  border-radius: 5px;
}

.StatsBar__Name {
  color: white;
  background-color: rgba(26, 95, 255, 1);
  padding: 2px;
  text-align: center;
  width: 107px;
}

.StatsBar {
  background-color: rgba(172, 197, 255, 1);
  animation: animateStatsBar ease-out 8s;
  height: 100%;
  color: rgba(0, 44, 144, 1);
  padding-left: 5px;
  border-radius: 5px;
}

.StatsBar__Container {
  flex-basis: 100%;
  background-color: rgba(126, 165, 255, 1);
  margin-left: 5px;
  border-radius: 5px;
}

@keyframes animateStatsBar {
  from {
    width: 0;
  }
}
