.StatsBar__Wrapper {
    background: teal;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.StatsBar__Name{
    color: white;
    background-color: teal;
    padding: 2px;
    text-align: center;
    width: 85px;
}

.StatsBar {
    background-color: rgba(255,255,255,1);
    animation: animateStatsBar ease-out 8s;
    height: 100%;
    color: teal;
    padding-left: 5px;
    border-bottom: 3px solid #04c2c9;
}

.StatsBar__Container {
    flex-basis: 100%;
    background-color: rgba(0,0,0,0.2);
    margin-left: 5px;
}

@keyframes animateStatsBar {
    from {
        width:0;
    }
}