.TechSummaryPage__Introduction {
  letter-spacing: 0.09em;
  font-size: 1.12em;
}

.TechSummaryPage__Introduction,
.TechSummaryPage__Introduction__StatBars {
  flex-basis: 50%;
}

.TechSummaryPage__InfoSection {
  background-color: rgba(172, 197, 255, 0.4);
}

.TechSummaryPage__Projects {
  flex-direction: column;
}

.TechSummaryPage__Projects h2 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  letter-spacing: 0.05em;
}

.TechSummary__Projects__Wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Project {
  padding: 5px;
  position: relative;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.Project--hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.Project--visible {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.Project--SlideIn {
  visibility: visible;
  transform: translateX(150px);
  animation: slideLeft 0.8s ease forwards;
}

.Project--SlideIn:nth-child(odd) {
  animation-duration: 0.6s;
}

.Project__Role {
  font-style: italic;
  transition: all 1s ease-in-out;
}

.Project__Details {
  transition: all 1s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 250px;
  flex-basis: 60%;
  margin-left: 20px;
  background: rgba(172, 197, 255, 0.4);
  padding: 20px;
  box-sizing: initial;
  border-radius: 5px;
}

.Project__Image {
  width: 25%;
  height: 25%;
  flex-basis: 35%;
  margin-right: 10px;
  object-fit: cover;
  padding-right: 20px;
}

.Project__Notables {
  list-style: none;
}

.Project__NotPublic {
  font-weight: bold;
}

.Project__Link__Wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.Project__Link,
.Project__Link a {
  color: rgb(0, 34, 111);
}

.Project__Link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid rgba(26, 95, 255, 1);
  margin-top: auto;
}

.Project__Link:hover {
  text-decoration: none;
  color: rgba(172, 197, 255, 1);
  background-color: rgba(26, 95, 255, 1);
  border: 1px solid rgb(0, 34, 111);
  transition: background-color ease-in-out 0.2s;
}

@keyframes slideLeft {
  to {
    transform: translateX(0px);
  }
}
